redis:
  image: redis:2.8
  restart: always

www:
  build: .
  ports:
    - "8080:8080"
    - "41337:41337/udp"
  links:
    - redis
  volumes:
    - .:/sherparesponse
  environment:
    APP_HOST: 0.0.0.0
    APP_PORT: 8080
    UDP_PORT: 41337
    CONFIGURATION: prod
    SENTRY_DSN:
  command: python flaskr/flaskr.py
  restart: always
